body {
    background-color: black;
    color: white;
}

#header {
    background-color: #111d;
}

#header-div > a > div {
    background-color: #0000;
}

#header-div > a > div:hover {
    background-color: #3334;
}

.content > div {
    background-color: #101010aa;
}

.fancy-border {
    border-color: #222;
}

#home-read-button {
    background-color: #fff4;
    border-color: #999;
}

a {
    color: #fff;
}

#team-prism-logo-svg {
    stroke: #fff
}

#scrollbar {
    background-color: #0000;
}

#scrollbar:hover {
    background-color: #1114;
}

#scrollbar-handle {
    background-color: #fff4;
}