body {
    background-color: black;
    color: white;
}

.header-div {
    background-color: #111d;
}

.header-div > a > div {
    background-color: #0000;
    border-color: #000;
}

.header-div > a > div.selected {
    background-color: #4444;
}

#header-div > a > div:hover {
    background-color: #3334;
}

.content {
    background-color: #101010aa;
}

.fancy-border {
    border-color: #222;
}

#home-read-button {
    background-color: #fff4;
    border-color: #999;
}

a {
    color: #fff;
}

.team-prism-logo-svg {
    stroke: #fff
}

#scrollbar {
    backdrop-filter: invert(10%);
}

#scrollbar:hover {
    backdrop-filter: invert(25%);
}

#scrollbar-handle {
    backdrop-filter: invert(75%);
}

#link-spacer {
    border-color: #fff;
}

.discord-logo {
    fill: #fff;
}

.github-logo {
    fill: #fff;
}