@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Ubuntu";
}

body.mobile {
    font-size: 15px;
}

body.mobile > * {
    font-size: 15px;
}

body.mobile > #header-cont {
    display: none;
}

@media (prefers-reduced-motion) {
    * {
        transition-duration: 0ms !important;
    }
}

.logo-r { fill: #f00 }
.logo-g { fill: #0f0 }
.logo-b { fill: #00f }

* {
    user-select: none;
}

.selectable {
    user-select: contain;
}

.selectable > * {
    user-select: text;
}

.fancy-border {
    border-width: 5px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px;
    /*border-image-source: url("./bordeur2.bmp");
    border-image-slice: 40;
    border-image-repeat: round;
    border-image-outset: 5px;*/
}

#header-cont {
    width: 100vw;
    height: max-content;
    position: fixed;
    top: -5px;
    left: 0;
}

#header {
    width: 75%;
    padding: 0;
    height: 3em;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    backdrop-filter: blur(5px);
    transition-duration: 250ms;
}

#header-div {
    display: flex;
    position: relative;
    bottom: 1px;
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#header-div > * {
    height: 100%;
    width: calc(100% / 9);
}

#header-div > a > div {
    padding: 0.9em;
    height: 50%;
    width: auto;
    border-width: 0px;
    border-style: solid;
    transition-duration: 250ms;
    backdrop-filter: blur(0px);
    cursor: pointer;
}

.header-div > a > div.selected {
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* height: 65%; */
    /* border-width: 2px; */
    /* border-style: solid; */
    backdrop-filter: blur(10px);
}

.header-div > a > div.selected:hover {
    backdrop-filter: blur(5px);
}

.header-div > a > div:hover {
    backdrop-filter: blur(5px);
}

#full-content {
    overflow-x: hidden;
    /* overflow-y: scroll; */
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100vw;
    height: calc(100vh - 5em);
    padding-top: 5em;
    position: fixed;
    top: 0;
    left: -100vw;
    overflow-y: scroll;
    overflow-x: visible;
    scrollbar-width: none;
    transition: left 400ms ease 0s, opacity 0s linear 400ms;
    opacity: 0;
}

.mobile > .container > :last-child {
    margin-bottom: 2em;
}

.mobile > .container {
    padding-top: 1em;
    height: 100vh;
}

.container.show {
    left: 0;
    opacity: 1;
    transition: left 400ms ease 0s, opacity 0s linear 0ms;
}

.container > .content {
    width: 60vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2vh;
    overflow-y: visible;
    overflow-x: visible;
    backdrop-filter: blur(20px);
    transition-duration: 250ms;
}

#body.mobile > #full-content.wide.mobile > .container > .content {
    width: calc(95vw);
}

#full-content.wide > .container > .content.allow-wide {
    width: calc(90vw);
}

.container::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 10em;
    position: fixed;
    margin: 1px;
    bottom: 0;
    right: 0;
    padding: 0;
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    transition-duration: 250ms;
}

#home-content {
    left: -100vw;
}

#home-content.show {
    left: 0;
}

#home-title {
    width: 100%;
    font-size: 100px;
    font-weight: 500;
    text-align: center;
}

#home-read-button {
    width: 20%;
    font-size: xx-large;
    padding: 0.75em;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
}

#blog-div {
    display: flex;
    flex-wrap: wrap;
}

#blog-div.wide > .blog-post {
    min-width: calc(33.2% - 20px);
}

#blog-div.wide.mobile > .blog-post {
    width: calc(99.9% - 20px);
}

#blog-div > .blog-post {
    width: min-content;
    min-width: calc(49.8% - 25px);
    max-width: 100%;
    padding: 10px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}

#blog-div > .blog-post > p, .blog-post > .blog-content > p {
    text-align: justify;
    
}

#blog-div.mobile > .blog-post > p {
    font-size: 0.7cm;
}

.blog-image {
    width: 100%;
    height: auto;
}

.blog-table {
    width: 100%;
}

.blog-table > tbody > tr > td {
    text-align: center;
    width: 33%;
}

.blog-post > .blog-table > tbody > tr > :nth-child(2) {
    font-size: xx-large;
}

.mobile > * > .blog-post > .blog-table > tbody > tr > :nth-child(2) {
    font-size: 50px !important;
}

.blog-table > tbody > tr > :first-child {
    text-align: left;
}

.mobile > * > .blog-table > tbody > tr > :first-child {
    text-align: left;
    font-size: xx-large !important;
}

.blog-table > tbody > tr > :last-child {
    text-align: right;
}

.mobile > * > .blog-table > tbody > tr > :last-child {
    font-size: xx-large !important;
}

#story-content {
    left: 100vw;
}

#story-content.fast {
    transition-duration: 0ms;
}

#story-content.left {
    left: -100vw;
}

#story-content.show {
    left: 0 !important;
}

#story-image {
    max-width: 100%;
    height: auto;
    max-height: 85vh;
    margin-left: auto;
    margin-right: auto;
}

.mobile > .container > .content > #story-image {
    max-height: 94vh;
}

#story-image-back {
    width: 33%;
    height: calc(100% - 2.2em);
    position: absolute;
    top: 1.9em;
    left: 0;
    z-index: 4;
}

#story-image-fw {
    width: 67%;
    height: calc(100% - 2.2em);
    position: absolute;
    top: 1.9em;
    right: 0;
    z-index: 4;
}

#story-video {
    max-width: 100%;
    height: auto;
    max-height: 85vh;
    margin-left: auto;
    margin-right: auto;
}

#story-header {
    width: 100%;
}

#story-header > tbody > tr > td {
    text-align: center;
    width: calc(100%/7);
}

#story-main {
    margin-bottom: 0;
}

#story-nav {
    margin-top: 0;
}

.mobile > .container > #story-nav > #story-header {
    font-size: 0.8cm;
}

#story-index > div > img {
    max-width: 50vw;
}

#about-content {
    left: 100vw;
}

.mobile > #about-content > #about-links {
    font-size: 30px;
}

.mobile > #about-content > #about-links > div > a > svg {
    scale: 2;
}

.mobile > #about-content > #about-settings, .mobile > #about-content > #about-settings > button {
    font-size: 30px;
}

#about-content.show {
    left: 0;
}

/* #spacer-content {
    left: 300vw
} */

#scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 5px;
    transition-duration: 100ms;
    transition-property: width;
}

#scrollbar:hover, #scrollbar.held {
    width: 1.2em;
}

#scrollbar-handle {
    position: absolute;
    right: 0;
    width: 100%;
    border-radius: 10px;
    transition-duration: 150ms;
    transition-property: height;
}

.rgb-r {
    animation: rgb-anim-r 5s linear 0s infinite;
}

.rgb-g {
    animation: rgb-anim-g 5s linear 0s infinite;
}

.rgb-b {
    animation: rgb-anim-b 5s linear 0s infinite;
}

@keyframes rgb-anim-r {
    0% {
        fill: #f00;
    }
    16.6% {
        fill: #ff0;
    }
    33.3% {
        fill: #0f0;
    }
    49.9% {
        fill: #0ff;
    }
    66.5% {
        fill: #00f;
    }
    83.1% {
        fill: #f0f;
    }
    99.7% {
        fill: #f00;
    }
    100% {
        fill: #f00;
    }
}

@keyframes rgb-anim-g {
    0% {
        fill: #0f0;
    }
    16.6% {
        fill: #0ff;
    }
    33.3% {
        fill: #00f;
    }
    49.9% {
        fill: #f0f;
    }
    66.5% {
        fill: #f00;
    }
    83.1% {
        fill: #ff0;
    }
    99.7% {
        fill: #0f0;
    }
    100% {
        fill: #0f0;
    }
}
/*0 16 33 50 66 82 100*/

@keyframes rgb-anim-b {
    0% {
        fill: #00f;
    }
    16.6% {
        fill: #f0f;
    }
    33.3% {
        fill: #f00;
    }
    49.9% {
        fill: #ff0;
    }
    66.5% {
        fill: #0f0;
    }
    83.1% {
        fill: #0ff;
    }
    99.7% {
        fill: #00f;
    }
    100% {
        fill: #00f;
    }
}

#mobile-header > .logo-button > svg{
    position: fixed;
    transform: scale(1.2,1.2);
    left: 2em;
    bottom: 1em;
    z-index: 100;
    transition-duration: 250ms;
    border-radius: 0;
}

#mobile-header.closed > .logo-button > svg {
    position: fixed;
    transform: scale(1.5,1.5);
    left: 0.5em;
    bottom: 0.5em;
    transition-duration: 250ms;
    border-radius: 50%;
}

#mobile-header {
    position: fixed;
    bottom: 0;
    width: calc(100vw - 2em);
    height: 3em;
    display: none;
    font-size: 40px;
    justify-content: space-around;
    padding-left: 1em;
    padding-right: 1em;
    transition-duration: 250ms;
}

.mobile > #mobile-header {
    display: flex;
}

#mobile-header > a {
    width: calc(100% / 5);
    text-align: center;
    position: relative;
    transition-duration: 250ms;
}

#mobile-header > a > div {
    height: 100%;
    padding-top: 0.9em;
    transition-duration: 250ms;
    padding-bottom: auto;
}

#mobile-header.closed {
    transition-duration: 250ms;
    top: calc(100% + 3em);
}

#mobile-header.closed > a {
    transition-duration: 250ms;
    top: 100%;
}