body {
    background-color: white;
    color: black;
}

body > #header {
    background-color: #fffd;
}

#header-div > a > div {
    background-color: #fff0;
}

/* #header-div > a > div:hover {
    background-color: #aaaa;
} */

.content {
    background-color: #fffc
}

.fancy-border {
    border-color: #000;
}

a {
    color: #000;
}

#background {
    filter: invert(100%);
}

.team-prism-logo-svg {
    stroke: #000
}

#scrollbar {
    backdrop-filter: invert(10%);
}

#scrollbar:hover {
    backdrop-filter: invert(25%);
}

#scrollbar-handle {
    background-color: #000;
}

#link-spacer {
    border-color: #000;
}

.discord-logo {
    fill: #000;
}

.github-logo {
    fill: #1B1F23;
}