body {
    background-color: white;
    color: black;
}

body > #header {
    background-color: #fffd;
}

#header-div > a > div {
    background-color: #fff0;
}

#header-div > a > div:hover {
    background-color: #aaaf;
}

.content > div {
    background-color: #fffc
}

.fancy-border {
    border-color: #000;
}

a {
    color: #000;
}

#background {
    filter: invert(100%);
}

#team-prism-logo-svg {
    stroke: #000
}

#scrollbar {
    background-color: #fff0;
}

#scrollbar:hover {
    background-color: #fff4;
}

#scrollbar-handle {
    background-color: #000;
}