body {
    background-color: black;
    color: #999;
}

#logo-o > #logo-r { fill: #000; stroke: #f00 }
#logo-o > #logo-g { fill: #000; stroke: #0f0 }
#logo-o > #logo-b { fill: #000; stroke: #00f }

.fancy-border {
    border-color: #555;
}

#header {
    background-color: #000a;
}

/*body > #header {
    background-color: #000a;
    border: none;
    padding-top: 15px !important;
    padding-left: 65px !important;
}

#header > #team-prism-logo-svg {
    top: 0px;
    lefT: 5px !important;
}*/

.content {
    background-color: #1114;
}

#background {
    opacity: 0;
}

a {
    color: #999;
}

#story-image {
    opacity: 100%;
}

img {
    opacity: 50%;
    transition-property: opacity;
    transition-duration: 150ms;
}

img:hover {
    opacity: 100%;
}

#team-prism-logo-svg {
    stroke: #555
}

#scrollbar {
    background-color: #1114;
}

#scrollbar:hover {
    background-color: #1114;
}

#scrollbar-handle {
    background-color: #fff4;
}

#link-spacer {
    border-color: #555;
}

.discord-logo {
    fill: #fff;
}

.github-logo {
    fill: #fff;
}